{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!-- <h1>BB</h1> -->
    
    <iframe title="Customer_Churn_Dashboard" 
    frameborder="0" 
    noresize="noresize"
    width="1024px" height="638px" 
    src="https://app.powerbi.com/view?r=eyJrIjoiMTljZWE0ZDItMzc0YS00YzY2LWI1YjEtNTFlZGU1YzBhYTUxIiwidCI6ImFhYzBjNTY0LTZjNWUtNGIwNS04ZGMzLTQwODA4N2Y3N2Y3NiIsImMiOjEwfQ%3D%3D&pageName=ReportSection"
    frameborder="0" 
    allowFullScreen="true"></iframe>
        

{% endblock %}